---
import BaseLayout from "../layouts/BaseLayout.astro";

const pagetitle = 'My Astro Learning Blog'
---

<BaseLayout pagetitle={pagetitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    <li><a href="/posts/post_01/">Post 01</a></li>
    <li><a href="/posts/post_02/">Post 02</a></li>
    <li><a href="/posts/post_03/">Post 03</a></li>
  </ul>
</BaseLayout>