---
import BaseLayout from './BaseLayout.astro';

interface Props {
  frontmatter: {
    title: string;
    author: string;
    pubDate: string;
    description: string;
  }
}
const { frontmatter } = Astro.props;
---

<BaseLayout pagetitle={frontmatter.title}>
  <p>Published on: {frontmatter.pubDate.slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>whitten by {frontmatter.author}</p>
  <slot />
</BaseLayout>